body {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.banner {
    height: 100vh;
    background-image: url("./images/apple-pie.jpg");
}

section {
    margin: 150px 250px;
}

.title {
    margin: 0!important;
    padding: 25% 0;
    text-align: center;
    color: white;
}

.paragrapgh {
    color: #4c4c4c;
    font-weight: 200;
}

.subtitle {
    color: #343434;
    font-size: 26px;
}

.recipiesImg {
    width: 50%;
}